<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover"
        style="width: 1500px; min-width: 1500px">
        <thead>
            <tr class="jsgrid-header-row">
                <th></th>
                <th colspan="2" class="text-center" ng-repeat="mes in meses">{{mes.Name}}
                </th>
            </tr>
            <tr>
                <th></th>
                <td class="text-center" ng-repeat="mes in mesesDuplicados">{{titulos[mes.Indice]}}
                </td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in datos">
                <td>{{item.Nombre}}
                </td>
                <td class="text-right" ng-repeat="mes in mesesDuplicados">{{item[mes.DiasCalidad] | number}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
