


.al-sidebar {
    width: 180px;
    top: 66px;
    left: 0;
    z-index: 904;
    display: block;
    min-height: 100%;
    /* background: #271189; */
    background: -moz-linear-gradient(-45deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%);
    /* background: -webkit-linear-gradient(-45deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%); */
    /* background: linear-gradient(135deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#271189', endColorstr='#5042ea', GradientType=1 );
    height: 100%;
    position: fixed;
}

.al-sidebar-list {
    margin: 0;
    padding: 18px 0 0;
    list-style: none
}

.al-sidebar-sublist .subitem-submenu-list {
    padding-left: 15px
}

.subitem-submenu-link .fa {
    top: 7px
}

.al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0
}

    .al-sidebar-list-item.selected:not(.with-sub-menu) {
        background-color: #209e91
    }

        .al-sidebar-list-item.selected:not(.with-sub-menu) a.al-sidebar-list-link, .al-sidebar-list-item.selected:not(.with-sub-menu) a.al-sidebar-list-link b {
            color: #fff
        }

    .al-sidebar-list-item.ba-sidebar-item-expanded > .al-sidebar-list-link b, .ba-sidebar-sublist-item.ba-sidebar-item-expanded > .al-sidebar-list-link b {
        transform: rotate(180deg)
    }

    .al-sidebar-list-item.ba-sidebar-item-expanded > .al-sidebar-sublist, .ba-sidebar-sublist-item.ba-sidebar-item-expanded > .al-sidebar-sublist {
        display: block
    }

a.al-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    font-size: 13px;
    text-decoration: none;
    line-height: 42px;
    cursor: pointer
}

    a.al-sidebar-list-link:hover, a.al-sidebar-list-link:hover b {
        color: #209e91
    }

    a.al-sidebar-list-link i {
        margin-right: 18px;
        width: 16px;
        display: inline-block
    }

    a.al-sidebar-list-link b {
        display: block;
        opacity: 1;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-shadow: none;
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 12px;
        padding: 0;
        text-align: center;
        color: #fff;
        transition: transform .2s linear
    }

.slimScrollBar, .slimScrollRail {
    border-radius: 0 !important;
    width: 4px !important;
    left: 176px
}

.al-sidebar-sublist {
    padding: 0;
    list-style: none;
    position: relative;
    display: none
}

    .al-sidebar-sublist.expanded {
        display: block
    }

    .al-sidebar-sublist > li {
        display: block;
        float: none;
        padding: 0;
        border-bottom: none;
        position: relative
    }

        .al-sidebar-sublist > li a {
            display: block;
            text-shadow: none;
            font-size: 13px;
            text-decoration: none;
            color: #fff;
            padding-left: 52px;
            height: auto;
            line-height: 29px
        }

            .al-sidebar-sublist > li a:hover {
                color: #209e91
            }

        .al-sidebar-sublist > li.selected:not(.with-sub-menu) > a {
            border: none;
            background-color: #209e91
        }

            .al-sidebar-sublist > li.selected:not(.with-sub-menu) > a:hover {
                color: #fff
            }

.sidebar-hover-elem {
    width: 4px;
    background: #209e91;
    position: absolute;
    top: -150px;
    left: 176px;
    transition: all .5s ease;
    transition-property: top,height;
    height: 42px;
    display: block
}

.sidebar-select-elem {
    display: block;
    top: 94px
}

@media (min-width:1200px) {
    .menu-collapsed .al-main {
        margin-left: 50px
    }

    .menu-collapsed .al-footer {
        padding-left: 83px
    }
}

@media (min-width:501px) {
    .menu-collapsed .al-sidebar {
        width: 52px
    }

        .menu-collapsed .al-sidebar .fa-angle-down, .menu-collapsed .al-sidebar .fa-angle-up {
            opacity: 0
        }

        .menu-collapsed .al-sidebar .al-sidebar-sublist {
            position: absolute;
            top: -1px;
            left: 52px;
            background: rgba(0,0,0,.8);
            width: 0;
            display: block;
            overflow: hidden;
            transition: width .5s ease
        }

            .menu-collapsed .al-sidebar .al-sidebar-sublist.slide-right {
                width: 135px
            }

            .menu-collapsed .al-sidebar .al-sidebar-sublist li:before, .menu-collapsed .al-sidebar .al-sidebar-sublist:before {
                display: none
            }

            .menu-collapsed .al-sidebar .al-sidebar-sublist li a {
                padding-left: 18px;
                padding-right: 18px;
                min-width: 130px;
                white-space: nowrap
            }

        .menu-collapsed .al-sidebar .sidebar-hover-elem, .menu-collapsed .al-sidebar .sidebar-select-elem {
            left: 48px
        }
}

@media (max-width:1200px) and (min-width:500px) {
    .al-main {
        margin-left: 50px
    }

    .al-footer {
        padding-left: 83px
    }
}

@media (max-width:1200px) {
    .al-sidebar {
        width: 180px;
        background: #271189;
        background: -moz-linear-gradient(-45deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%);
        background: -webkit-linear-gradient(-45deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%);
        background: linear-gradient(135deg,#271189 0,#2512b2 32%,#2512b2 49%,#2512b2 49%,#2512b2 52%,#2512b2 52%,#2512b2 56%,#2817c1 63%,#207cca 83%,#207cca 98%,#5042ea 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#271189', endColorstr='#5042ea', GradientType=1 );
        transition: width .5s ease
    }

        .al-sidebar .fa-angle-down, .al-sidebar .fa-angle-up {
            opacity: 1
        }

        .al-sidebar .al-sidebar-sublist {
            padding: 0;
            list-style: none;
            position: relative;
            display: none;
            top: auto;
            left: auto;
            background: 0 0;
            width: auto;
            overflow: visible;
            transition: none
        }

            .al-sidebar .al-sidebar-sublist.expanded {
                display: block
            }

            .al-sidebar .al-sidebar-sublist > li {
                display: block;
                float: none;
                padding: 0;
                border-bottom: none;
                position: relative
            }

                .al-sidebar .al-sidebar-sublist > li a {
                    display: block;
                    text-shadow: none;
                    font-size: 13px;
                    text-decoration: none;
                    color: #fff;
                    padding-left: 52px;
                    height: auto;
                    line-height: 29px
                }

                    .al-sidebar .al-sidebar-sublist > li a:hover {
                        color: #209e91
                    }

                .al-sidebar .al-sidebar-sublist > li.selected:not(.with-sub-menu) > a {
                    border: none;
                    background-color: #209e91
                }

                    .al-sidebar .al-sidebar-sublist > li.selected:not(.with-sub-menu) > a:hover {
                        color: #fff
                    }

        .al-sidebar .sidebar-hover-elem, .al-sidebar .sidebar-select-elem {
            left: 176px;
            transition: left .5s ease
        }
}

@media (max-width:500px) {
    .menu-collapsed .al-sidebar {
        width: 0
    }

    .menu-collapsed .sidebar-hover-elem, .menu-collapsed .sidebar-select-elem {
        display: none
    }

    .al-main {
        margin-left: 0
    }

    .al-footer {
        padding-left: 0
    }
}

.widgets {
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.full-width {
    margin: 0 -22px -16px
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: visible
}

.panel-subtitle {
    font-size: 15px;
    margin-bottom: 16px
}

.panel-nav {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 2
}

    .panel-nav i {
        cursor: pointer;
        font-size: 14px;
        color: #bfbfbf;
        margin-left: 11px;
        display: inline-block
    }

        .panel, .panel-nav i:hover, .panel > .panel-footer {
            color: #666
        }

        .panel-nav i.fa-minus {
            margin-bottom: -1px;
            vertical-align: bottom
        }

.panel {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25)
}

.search, a.al-sidebar-list-link {
    color: #fff;
    overflow: hidden;
    text-shadow: none;
    white-space: nowrap
}

    a.al-sidebar-list-link i {
        font-size: 23px;
    }

.al-main h1.al-title {
    font-weight: 700;
    color: #0069af;
    font-size: 21px;
    opacity: .9;
    font-weight: 600;
    text-transform: none;
}

/*Diseño para ancho de tablas en catalogos */
/*.table thead {
    background: #2368aa;
    color: white;
    font-weight: 800 !important;
}*/

.width-1pe {
    width: 1%;
}

.width-5pe {
    width: 5%;
}

.width-10pe {
    width: 10%;
}

.width-15pe {
    width: 15%;
}

.width-20pe {
    width: 20%;
}

.width-25pe {
    width: 25%;
}

.width-30pe {
    width: 30%;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-20 {
    width: 20px;
}

.width-10 {
    width: 10px;
}

.width-30 {
    width: 30px;
}

@media screen and (max-width: 767px) {
    .divTable-responsive {
        display: block;
        max-height: 250px;
        overflow-y: auto;
    }
}




.mail-body input[type="text"]:focus {
    border-color: #eaeaea;
}




/*table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px;  
}

    table * {
        box-sizing: inherit;
        -moz-box-sizing: inherit;
    }

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

    thead > tr, tbody > tr, tfoot > tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 20%;  
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

    tfoot td {
        width: 100%;
        display: inline-block;
    }*/


#Home .pagination li a {
    color: #2d6cad;
    font-size: 15px;
}

#Home .table-bordered > tfoot > tr > td {
    border: 0px;
}

#Home .jsgrid-grid-header {
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
}


div.Home .pagination li a {
    color: #2d6cad;
    font-size: 15px;
}

div.Home .table-bordered > tfoot > tr > td {
    border: 0px;
}

div.Home .jsgrid-grid-header {
    background-color: white !important;
    color: black !important;
    border: none;
    font-size: 15px;
}

.padding-form {
    padding: 15px !important;
}

form .label-color {
    color: #0069af;
    /* font-weight: bold; */
    /*font-size: 14px;*/
}

form .subtitulo-color {
    color: #125da4;
    /* font-weight: bold; */
    font-size: 16px;
    margin-bottom: 8px;
}

.btn.btn-top {
    width: 42px;
    height: 42px;
    background: #0069af;
    border-radius: 50% !important;
    display: table;
    margin: 2px;
}


.btn.btn-Approve {
    width: 42px;
    height: 42px;
    background: #5cce31;
    border-radius: 50% !important;
    display: table;
    margin: 2px;
}


.btn.btn-Reject {
    width: 42px;
    height: 42px;
    background: #FF0000;
    border-radius: 50% !important;
    display: table;
    margin: 2px;
}

    .btn.btn-top:hover {
        background: #2a6ead;
    }

    .btn.btn-Approve:hover {
        background: #5cce31;
    }

    .btn.btn-Reject:hover {
        background: #FF0000;
    }


    .btn.btn-top i {
        color: white;
        display: table-cell;
        vertical-align: middle;
        font-size: 17px;
    }

.btn.btn-Approve i {
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
}


.btn.btn-Reject i {
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
}

.div-top-butons {
    display: inline-flex;
    float: right;
}
.btn-tpm > div {
    float: right;
}
.padding-7 {
    padding: 2px;
}

.ionic .checkbox input:checked:before, .ionic .checkbox input:checked + .checkbox-icon:before {
    background: #2512b2;
    border-color: #FF0000;
}

select option:disabled {
    color: #003fad;
    background: #d8d8d8;
}

.btn-link:hover, .btn-link:focus {
    color: #0069af;
}


.mail-box.filtros-avanzados {
    /*transition-duration: 0s;
    transition-timing-function: linear;
    transition-property: none;*/
    background: #f6f6f6;
    margin-top: -29px;
    padding: 11px;
    border-radius: 0px;
    box-shadow: rgb(157, 216, 255) 1px 1px 10px;
    z-index: 0;
    width: 94%;
    margin-left: 3%;
    transition: none;
}

    /*div {
    transition: all linear 0.5s;
    background-color: lightblue;
    height: 100px;
}
*/
    .mail-box.filtros-avanzados.ng-hide {
        /*transition: all linear 0.5s;*/
        background: red;
    }

.btn.btn-success.btn-custom-fu:hover {
    background: #0ba457cf;
}


.text-rigth {
    text-align: -webkit-right;
}

.btn.button-search-custom {
    width: 60px;
    height: 60px;
    border-radius: 5% !important;
    background: white;
    color: blue;
    border: 1px solid #f2f2f2;
}

.btn.button-search-custom i {
    color: #0069af;
    font-size: 50px;
}
    .btn.button-search-custom:hover {
        background: #f5f5f5;
    }