<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <div class="progress-info">Tu Perfil esta  70% Completo</div>
        <div class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            </div>
        </div>

        <h3 class="with-line">Información general</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Imagen</label>

                    <div class="col-sm-9">
                        <div class="userpic">
                            <div class="userpic-wrapper">
                                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                            </div>
                            <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                            <a href class="change-userpic" ng-click="uploadPicture()">Cambiar Imagen</a>
                            <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Nombre</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="" value="Anastasiya">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputLastName" class="col-sm-3 control-label">Apellido</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" placeholder="" value="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">Departamento</label>

                    <div class="col-sm-9">
                        <!--<select class="form-control" selectpicker>
                          <option>Web Development</option>
                          <option>System Development</option>
                          <option>Sales</option>
                          <option>Human Resources</option>
                        </select>-->
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label for="inputOccupation" class="col-sm-3 control-label">Ocupacion</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="with-line">Cambiar Password</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="with-line">Informacion de contacto</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@magna.com">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputPhone" class="col-sm-3 control-label">Telefono</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">Lugar</label>

                    <div class="col-sm-9">
                        <!--<select class="form-control" title="Standard Select" selectpicker>
                          <option>San Francisco</option>
                          <option>London</option>
                          <option>Minsk</option>
                          <option>Tokio</option>
                        </select>-->
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputRoom" class="col-sm-3 control-label">Numero</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputRoom" placeholder="" value="303">
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="vm.guardar()">
            <i class="ion-android-checkmark-circle"></i>Actualizar Perfil
        </button>
        {{vm.data}}
    </div>
</div>
